html,
body {
    height: 100%;
}

#block_container0 {
    height: 100%;
    width: auto;
    justify-content: center;
}

#container01 {
    height: 50%;
    width: auto;
    justify-content: center;
}

#container02 {
    width: auto;
    justify-content: center;
}

#block_container {
    height: 40%;
    width: auto;
    display: flex;
    justify-content: center;
}

#block_container2 {
    height: 40%;
    width: auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 30pt;
    font-family: arial;
    color: black;
    text-align: center;
}

h2 {
    font-size: 15pt;
    font-family: arial;
    color: black;
    text-align: center;
}

#func {
    border: 1;
    border-color: blue;
    color: blue;
    height: auto;
    width: 30%;
}

input {
    font-size: 15pt;
    fon border: 1;
    border-color: blue;
    color: blue;
    height: auto;
}

#window {
    font-size: 15pt;
    color: blue;
}

label {
    font-size: 15pt;
    color: rgb(9, 100, 35);
}

#time,
#sampling,
#n_bines,
#bin_muestra {
    width: 5%;
}

#check1,
#check2,
#check3,
#logscale {
    width: 20px;
    height: 20px;
}